<app-toolbar [title]="title"></app-toolbar>
<app-card-container class="nav-container">
    <app-card [wSize]="'small'" (click)="jumpto('home')">
        <svg class="svg" viewBox="0 0 1024 1024">
            <use [attr.xlink:href]="'#icon-home'"></use>
        </svg>
        {{'HOME' | translate}}</app-card>
    <app-card [wSize]="'small'" (click)="jumpto('docs')">
        <svg class="svg" viewBox="0 0 1024 1024">
            <use [attr.xlink:href]="'#icon-documt'"></use>
        </svg>
        {{'DOCS' | translate}}</app-card>
    <app-card [wSize]="'small'" (click)="jumpto('example')">
        <svg class="svg" viewBox="0 0 1024 1024">
            <use [attr.xlink:href]="'#icon-icon-test'"></use>
        </svg>
        {{'EXAMPLE' | translate}}</app-card>
    <app-card [wSize]="'small'" (click)="jumpto('source-code')">
        <svg class="svg" viewBox="0 0 1024 1024">
            <use [attr.xlink:href]="'#icon-yuanma'"></use>
        </svg>
        {{'SOURCECODE' | translate}}</app-card>
    <app-card [wSize]="'small'" (click)="jumpto('about')">
        <svg class="svg" viewBox="0 0 1024 1024">
            <use [attr.xlink:href]="'#icon-guanyu'"></use>
        </svg>
        {{'ABOUT' | translate}}</app-card>
</app-card-container>
<div class="main-container">
    <router-outlet></router-outlet>
</div>